<div class="row">
    <div class="col-md-12 text-center">
        <h1>Show selected article</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>
            Author:
            <%= link_to @article.user.username, user_path(@article.user) %>
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h3>
            <%= @article.title %>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <%= @article.description %>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% if logged_in? && current_user == @article.user %>
            <%= link_to "Edit", edit_article_path(@article), class:"btn btn-warning" %> |
                <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> |
                    <% end %>
                        <%= link_to "All articles", articles_path, class:"btn btn-primary" %>
    </div>
</div>