<div class="row">
    <div class="col-md-12 text-center">
        <h1> All users </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <%= will_paginate @users, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% @users.each do |user| %>
            <div class="card mt-3">
                <div class="card-body">
                    <h5>
                        <%= link_to user.username, user_path(user) %>
                    </h5>
                    <p>
                        <%= pluralize(user.articles.count, "article") if user.articles %>
                    </p>
                    <% if logged_in? and current_user.admin? %>
                        <p> 
                            <%= link_to "Delete user", user_path(user), method: :delete, 
                            data: { confirm: "Are you sure you want to delete the user and all user's articles?"},
                            class: "btn btn-danger" %> 
                        </p>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%= will_paginate @users, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </div>
</div>